<a href="https://colab.research.google.com/github/betty6you/Jing_INFO5731_Spring2020/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# write your answer here
string_name= input('Your favorite fruit? ')
print(len(string_name))

Your favorite fruit? pineapple
9

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [116]:
# write your answer here
a='google.com'
b=set(a)

z={}
for x in b:
  m=a.count(x)
  z.update({x:m})
print(z)

{'c': 1, 'm': 1, 'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
# write your answer here
thislist=[1,2,3,4,6,5]
print(sum(thislist))

21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [143]:
# write your answer here
a='restart'
def split(word): 
 return [char for char in word] 
x=split(a)
x[5]='$'
''.join(x)

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [124]:
# write your answer here
a=int(input('Please type in a parameter a:'))
b=int(input('Please type in a parameter b:'))
if b==0:
  print('Error')
  input('Please type in a parameter b:')
S=3.14*(1+a/b)**3
print(S)

Please type in a parameter a:1
Please type in a parameter b:2
10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
newdic={}
for d in (dic1,dic2,dic3): newdic.update(d)
print(newdic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
# write your answer here
thistuple=tuple(('Amazon','Apple','Facebook','Google'))
# find if 'Apple' is in this tuple
print('Apple' in thistuple)

True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [130]:
# write your answer here
thisset={1,2,3,6,4,5}
# find maximum value
print(max(thisset))
# find minimum value
print(min(thisset))

6
1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here