<a href="https://colab.research.google.com/github/betty6you/Jing_INFO5731_Spring2020/blob/main/INFO5731_Assignment_One_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here

import random
import statistics
randomlist=[]
for i in range (0,12):
  n=random.randint(1,100)
  randomlist.append(n)
print(randomlist)
print(sorted(randomlist))
print(sorted(randomlist,reverse=True))
print(statistics.mean(randomlist))

[77, 68, 60, 80, 91, 81, 4, 73, 51, 32, 77, 6]
[4, 6, 32, 51, 60, 68, 73, 77, 77, 80, 81, 91]
[91, 81, 80, 77, 77, 73, 68, 60, 51, 32, 6, 4]
58.333333333333336

1# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [70]:
# Your code here
import re
sent1=input('Please type in sentence No.1:')
sent2=input('Please type in sentence No.2:')
extrac1=re.findall(r"[\w']+|[.,:!?;]", sent1)
extrac2=re.findall(r"[\w']+|[.,:!?;]", sent2)
print(extrac1)
print(extrac2)
for x in extrac1:
  for y in extrac2:
    if x==y:
      print(x)
puctu=[',','.',':',';']
for z in puctu:
  sent1=sent1.replace(z,' ')
  sent2=sent2.replace(z,' ')
print(sent1)
print(sent2)

def Check_Vow(string, vowels): 
      
  # casefold has been used to ignore cases 
  string = string.casefold() 
      
  # Forms a dictionary with key as a vowel 
  # and the value as 0 
  count = {}.fromkeys(vowels, 0) 
      
  # To count the vowels 
  for character in string: 
    if character in count: 
      count[character] += 1    
  return count 
      

vowels = 'aeiou'
print(Check_Vow(sent1, vowels)) 
print(Check_Vow(sent2, vowels))

Please type in sentence No.1:How, are: You
Please type in sentence No.2:How, old; You
['How', ',', 'are', ':', 'You']
['How', ',', 'old', ';', 'You']
How
,
You
How  are  You
How  old  You
{'a': 1, 'e': 1, 'i': 0, 'o': 2, 'u': 1}
{'a': 0, 'e': 0, 'i': 0, 'o': 3, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math
print('r','V',sep=' ')
for r in range(1,11):
  V=4/3*math.pi*r**3
  print(r,V,sep=' ')

r V
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923254
4 268.082573106329
5 523.5987755982989
6 904.7786842338603
7 1436.7550402417319
8 2144.660584850632
9 3053.6280592892786
10 4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [43]:
# for question (1)
!pip install pandas
import pandas as pd
denton_housing=pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv')
denton_housing.head()
occupied=denton_housing[denton_housing["title_field"].isin(["Occupied Housing Units"])]
print(occupied)
for i in range(1,7):
  diff=denton_housing.iloc[20-i*3,2]-denton_housing.iloc[23-i*3,2]
  i=i+1
  #diff.append()
  print(diff)
  
import csv
with open('difference.csv','w',newline='') as file:
  writer=csv.writer(file)
  writer.writerow(["Year","Difference"])
  writer.writerow(["2009-2008","-795"])
  writer.writerow(["2010-2009","5091"])
  writer.writerow(["2011-2010","-303"])
  writer.writerow(["2012-2011","1404"])
  writer.writerow(["2013-2012","1565"])
  writer.writerow(["2014-2013","2622"])
differ=pd.read_csv("difference.csv")

differ.sort_values(["Difference"],ascending=True)

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
    year             title_field  value
2   2014  Occupied Housing Units  46295
5   2013  Occupied Housing Units  43673
8   2012  Occupied Housing Units  42108
11  2011  Occupied Housing Units  40704
14  2010  Occupied Housing Units  41007
17  2009  Occupied Housing Units  35916
20  2008  Occupied Housing Units  36711
-795
5091
-303
1404
1565
2622

        Year  Difference
0  2009-2008        -795
2  2011-2010        -303
3  2012-2011        1404
4  2013-2012        1565
5  2014-2013        2622
1  2010-2009        5091

In [45]:
# for question (2)
import pandas as pd
import csv
with open('percentage.csv','w',newline='')as file:
  writer=csv.writer(file)
  writer.writerow(["Year","Vacant","Occupied","Total"])
  writer.writerow(["2014","2814","46295","49109"])
  writer.writerow(["2013","4215","43673","47888"])
  writer.writerow(["2012","3013","42108","45121"])
  writer.writerow(["2011","4213","40704","44917"])
  writer.writerow(["2010","3635","41007","44642"])
  writer.writerow(["2009","3583","35916","39499"])
  writer.writerow(["2008","4483","36711","41194"])
percent=pd.read_csv("percentage.csv")
percent["Vacant Housing Units"]=(percent["Vacant"]/percent["Total"])*100
percent["Occupied Housing Units"]=(percent["Occupied"]/percent["Total"])*100
sub=percent[["Year","Vacant Housing Units","Occupied Housing Units"]]
sub

   Year  Vacant Housing Units  Occupied Housing Units
0  2014              5.730111               94.269889
1  2013              8.801788               91.198212
2  2012              6.677600               93.322400
3  2011              9.379522               90.620478
4  2010              8.142556               91.857444
5  2009              9.071116               90.928884
6  2008             10.882653               89.117347

In [60]:
# for question(3)
import pandas as pd
percent=pd.read_csv("percentage.csv")
percent.sort_values(["Vacant"], axis=0, 
                 ascending=False, inplace=True)

print(percent.head(1))
percent.sort_values(["Occupied"],ascending=False, inplace=True)
print(percent.head(1))

dataset={" ":["Vacant Housing Units","Occupied Housing Units"],"Year":["2008","2014"],"Value":["4483","46295"]}
max=pd.DataFrame(dataset)
print(max)

   Year  Vacant  Occupied  Total
6  2008    4483     36711  41194
   Year  Vacant  Occupied  Total
0  2014    2814     46295  49109
/n
                           Year  Value
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

In [67]:
# for question (4)
import pandas as pd
percent=pd.read_csv("percentage.csv")
percent["Flip"]=(1/percent["Total"])
percent.head()
a=percent["Flip"].mean()
print(1/a)

44398.28543969185